.capsule {
    min-height: 100%;
    background-image: url('../../assets/imagem3.jpg');
    background-size: cover;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-position: center center;
    opacity : 0.8;
}

.box {
    background-color:rgba(0,0,0,0.5);
    border: 2px solid	#F5FFFA;
    border-radius: 8px;
    width: 50%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;

}

h3{
    color: white; 
}

label{
    color: white; 
    font-weight: 500;
}